
body {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/87009/earth-soil-creep-moon-lunar-surface-87009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.cont  {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: 0.2s ease-out;
}

.cont img{
    width: 100px;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
